PORT=3006
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# SMTP Settings
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="ductc2308@gmail.com"
SMTP_PASS="jsmb dhdy zxam ppdh"

