PORT=3005
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# VNPAY Sandbox Configuration
VNP_TMNCODE="6IV5JGE0"
VNP_HASHSECRET="ZWKZZWQSOYNOIPEWEEXJBLIILFBVEDIY"
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNP_RETURNURL="http://localhost:3000/api/payments/vnpay/return"
FRONTEND_URL="http://localhost:5173"

# MOMO Sandbox Configuration
MOMO_PARTNER_CODE="MOMO"
MOMO_ACCESS_KEY="F8BBA842ECF85"
MOMO_SECRET_KEY="K951B6PE1waDMi640xX08PD3vg6EkVlz"
MOMO_ENDPOINT="https://test-payment.momo.vn/v2/gateway/api/create"
MOMO_REDIRECT_URL="http://localhost:3000/api/payments/momo/return"
MOMO_IPN_URL="http://localhost:3000/api/payments/momo/ipn"

